# Flutter/Dart-related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication logging
util/symbolication/

# Android-related
**/android/**/generated/
**/android/gen/
**/android/bin/
*.apk
*.ap_
*.dex
*.class
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/strings.xml
**/android/app/src/main/res/values/ids.xml
**/android/app/src/main/res/values/public.xml

# iOS-related
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Config/
*.mode1v3
*.mode2v3
*.perspectivev3
**/ios/DerivedData/
**/ios/ArchiveIntermediates/
**/ios/Build/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m

# macOS-related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/

# Linux-related
**/linux/flutter/ephemeral/

# Windows-related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h
**/windows/flutter/generated_plugins.cmake

# Web-related
lib/generated_plugin_registrant.dart

# IDE-related
.idea/
.vscode/
*.iml
*.iws
.project
.settings/
.classpath

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# OS-related
.DS_Store
Thumbs.db
